body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #10030300;
  color: #cbc7c7;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 100;
  width: 100%;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
}

.product-card {
  border: 1px solid #61f06b;
  color: #61f06b;
  background-color: rgb(26, 23, 23);
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(60, 237, 122, 0.3);
}

.product-card h2 {
  margin-top: 5;
}