body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-color: #333;
  padding: 10px;
  color: #070101;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.header a {
  color: #fff;
  text-decoration: none;
}


.product-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease; /* Add hover transition */
}

.product-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add hover effect */
}

.product-item h3 {
  margin: 0;
}

.product-item p {
  margin: 5px 0;
}

.product-item button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-item button:hover {
  background-color: #45a049;
}

.cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease; /* Add hover transition */
}

.cart-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add hover effect */
}

.cart-item h3 {
  margin: 0;
}

.cart-item button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item button:hover {
  background-color: #d32f2f;
}